:root {
    --background: #707070;
    --button: black;
    --aside: #989696;
    --aside-title: #FFFFFF;
    --accent-color: #CFF8B9;
    --font-dark:#707070;
    --font-light:#FFFFFF;
    --line-color:#B2B2B2;

    --font: Arial, Helvetica, sans-serif;
}


body {
    padding: 30px;
    height: 100vh;
    background-color: var(--background);
}

.body-container {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 1;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background-color: var(--button);
    height: 55px;
}

button:hover{
    background-color: #B2B2B2;
    color: black;
}

aside {
    width: 33vw;
    height: 100%;
    background-color: var(--aside);
    padding: 24px;
    position: relative;
    border-radius: 20px;
    /* top: 15%; */
}


aside h1 {
    font-size: 20px;
    padding: 10px 0 30px 5px;
    margin: 0;
    color: var(--aside-title);
}

aside > ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

aside > ol > li{
    position: relative;
    cursor: pointer;
    padding: 0 0 0 32px;
    counter-increment: item;
    color: #B2B2B2;

}

aside > ol > li > h2 {
    font-size: 14px;
    padding: 5px 8px;
    margin: 0;
    color: var(--font-light);
}

aside > ol > li.active h2 {
    background-color: var(--accent-color);
    border-radius: 10px;
    width: fit-content;
    color: var(--font-dark);
}

aside > ol > li.active {
    color: #707070;
}

aside > ol > li.active::before{
    background-color: var(--font-light);
    color: var(--font-dark);
}

aside > ol > li::before {
    position: absolute;
    content: counters(item, " ");
    left: -15px;
    color: var(--font-light);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #B2B2B2;
    text-align: center;
    padding-top: 4px;
    font-size: 16px;
    margin-top: 3px;
}

.line{
    border-right: 2px solid var(--line-color);
    height: 70%;
    opacity: 30%;
    z-index: 0;
    position: absolute;
    padding-left: 19px;
    margin-top: 10px;
}
/* 
#app {
    height: 100%;
    padding: 16px 30px;
} */

#app h1 {
    /* padding: 50px 0 0 0; */
    font-size: 20px
}

#control-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
}

#control-container h2, h3 {
    color: var(--font-light);
    text-align: center;
}

#control-container h2{
    font-size: 20px;
}

#control-container h3{
    font-size: 14px;
}

/* #control-container button {
    background-color: #707070;
    border: none;
} */

.record{
    display: flex;
}

#recordings {
    display: flex;
}

#recordings button:nth-of-type(1) {
    margin-right:30px;
}

#recordings div:nth-of-type(1){
    display: none;
}

#model-select{
    color: var(--font-light);
}